<% provide(:title, "Events") %>
<h1>Events</h1>
<p>
	Events info goes here.
</p>

<div class="row">

	<% @events.each do |event|  %>
		<ul>
			<%= link_to event.name, event %>
		</ul>
	
	<% end %>

	<% if logged_in? && current_user.admin? %>

		<%= link_to "Create event", create_event_path, class: "btn btn-primary" %>
	<% end %>
</div>