<h1>QUT Japan</h1>
<p>Ho <%= @user.name %>,</p>

<p>
Welcome to QUT Japan. Click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>